/* Home CSS */

#home_container {
    display: flex;
    flex-direction:column;
    width:inherit;
}

#welcome_block {
    min-height: 20vh;
    width: 300px;
    align-items: center;
    justify-content: center;
}

.home_block {
    height: 100vh;
    width: inherit;

    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.type_block {
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    color: var(--WHITE);
    font-size: 24px;
}

.type_block ul {
    list-style: none;
    padding-left: 0;
}

.type_block li {
    margin: 0 0 4px 0;
    list-style-type: none;
    cursor: pointer;
}

.type_block li:hover {
    background-color: var(--LIGHT_ORANGE);
}

#welcome_wrapper {
    background-color: var(--MID_RED);
    background-image: url(/images/bg/bg_home03.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

#seller_wrapper {
    background-color: var(--BLUE);
    background-image: url(/images/bg/bg_selling.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

#driver_wrapper {
    background-color: var(--PURPLE);
    background-image: url(/images/bg/bg_driver.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}



/* Maximum aspect ratio */
#customer_block {
    background-color: var(--MID_ORANGE);
    background-image: url(/images/bg/bg_buying.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

@media (max-aspect-ratio: 1/1) {
    #customer_block {
        background-image: url(/images/bg/bg_buying_portrait.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center bottom;
        background-size: cover;
    }
}
