/* Home CSS */

#home_container {
    display: flex;
    flex-direction:column;
    width:inherit;
}

#welcome_block {
    min-height: 20vh;
    width: 300px;
    align-items: center;
    justify-content: center;
}

.home_block {
    height: 100vh;
    width: inherit;

    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

/* Dropdown Button for persona */
.dropbtn {
    background-color: transparent;
    color: white;
    text-align: left;
    padding-bottom: 3vh;
    font-family: 'Cabin', sans-serif;
    font-weight: 500;
    font-size: 24px;
    width: 100%;
    margin: 0;
    flex-direction: column;
    align-items: flex-start;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    left: 175px;
    background-color: transparent;
    font-family: 'Cabin', sans-serif;
    min-width: 160px;
    width: 90%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    background-color: transparent;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: dodgerblue}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: transparent}

.type_block {
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    color: var(--WHITE);
    font-size: 24px;
}

.type_block ul {
    list-style: none;
    padding-left: 0;
}

.type_block li {
    margin: 0 0 4px 0;
    list-style-type: none;
    cursor: pointer;
}

.type_block li:hover {
    background-color: var(--LIGHT_ORANGE);
}

#welcome_wrapper {
    background-color: var(--MID_RED);
    background-image: url(/images/bg/bg_home02.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

#sell_wrapper {
    background-color: var(--BLUE);
    background-image: url(/images/bg/bg_selling.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}



/* Maximum aspect ratio */
#buy_block {
    background-color: var(--MID_ORANGE);
    background-image: url(/images/bg/bg_buying.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

@media (max-aspect-ratio: 1/1) {
    #buy_block {
        background-image: url(/images/bg/bg_buying_portrait.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center bottom;
        background-size: cover;
    }
}

