/* Order CSS */

#order_container {
    width: 100%;
    min-height: 100%;
}

#order_wrapper {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding-top:220px;
}

#order_header {
    position: fixed;
    top: 60px;
    z-index: 900;
    width: inherit;
    margin: 0;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 0 15px 25px;

    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    color: var(--WHITE);
    font-size: 32px;
}

.order_header_item {
    font-size: 16px;
}

#order_OrderId {
    font-weight: 700;
    font-size: 24px;
    padding-bottom: 5px;
}
#order_invoiceID {
    font-weight: 700;
    font-size: 18px;
}
.order_block {
    display: flex;
    flex-direction: column;
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    color: var(--WHITE);
    font-size: 30px;
}

.order_invoice {
    font-weight: 400;
    font-size: 14px;
}

#order_buttons{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
