/* Form Field.css */

*:focus {
    outline: none;
}

input {
    height: 4vh;
    width: 250px;
    margin-left: 0;
    margin-top: 2vh;
    display: block;
    border: none;
    border-bottom: 3px solid #eee;
    border-radius: 0;
    background-color: transparent;
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: white;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}
