/* Title Message Text CSS*/

#text_login {
    text-align: left;
    padding-bottom: 3vh;
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 48px;
}

#text_login p {
    margin:0;
    padding:0;
}

#text_welcome {
    text-align: left;
    /*padding-bottom: 3vh;*/
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 36px;
}
#text_welcome p{
    margin: -6px;
    padding:0;
}
#text_welcome #username{
    text-transform: capitalize;
}
