/* Index.css */

:root {
  /* Default Colors*/
  --RED: #ec111a;
  --MID_RED: #FF384A;
  --LIGHT_RED: #FF969B;
  --WHITE: #FFFFFF;
  --BLACK: #000000;
  --GREY: #333333;
  --LIGHT_GREY: #4D4D4D;
  --DARK_BLUE: #00729c;
  --BLUE: #019DD6;
  --LIGHT_BLUE: #91DDF7;
  --ORANGE: #F77700;
  --MID_ORANGE: #ff9a00;
  --LIGHT_ORANGE: #ffb21f;
  --PURPLE: #7849B9;
  --LIGHT_PURPLE: #ADA9F5;
  --GREEN: #138467;
  --LIGHT_GREEN: #85D8C5;
  --PINK: #F2609E;
  --LIGHT_PINK: #FDA8E1;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;

  /* FONT */
@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,700&display=swap');

}

#root{
  height: inherit;
  width: inherit;
  background: #FF384A;
}

::-webkit-scrollbar {display:none;}

/* COLORS --------------------------------- */

.login-menu {
  background-color: transparent;
}
.home-menu {
  background-color: var(--RED);
}
.home-accent{
  background-color: var(--MID_RED);
}
.home-background {
  background-color: var(--LIGHT_RED);
}
.customer-menu {
  background-color: var(--ORANGE);
}
.customer-accent {
  background-color: var(--MID_ORANGE);
}
.customer-background {
  background-color: var(--LIGHT_ORANGE);
}

.seller-menu {
  background-color: var(--DARK_BLUE);
}
.seller-accent {
  background-color: var(--BLUE);
}
.seller-background {
  background-color: var(--LIGHT_BLUE);
}
